// =======================
// 🌐 ESTILOS GLOBALES
// =======================

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $space-sm;
}

.section {
  padding: $space-lg 0 $space-xl;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  transition: color 0.3s ease;
  margin-bottom: $space-sm;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin: $space-sm;
  text-align: center;
  color: var(--text-color);
  transition: color 0.3s ease;
  font-weight: $font-semi-bold;
}

img {
  max-width: 100%;
  height: auto;
}
