// =======================
// 🧢 HEADER
// =======================

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-sm;
  background-color: var(--body-color); // Por si necesitas que no sea transparente
  transition: all 0.3s ease-in-out;
}
