// ====================
// 🧑‍💼 ABOUT
// ====================

.about__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.about__story {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
  color: var(--text-color);
  border-left: 2px solid var(--first-color);
  padding-left: 1rem;
  font-style: italic;
  margin: 1rem 0 2rem;
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  padding-top: 1rem;
}

.about__info-title {
  display: block;
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: 600;
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}
