// ====================
// 💡 PROYECTO EN MENTE
// ====================

.project__bg {
  background-color: var(--first-color-light);
  padding: $space-xs;
  margin: $space-xs;
  border-radius: $space-lg;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.project__container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: $space-xs;
  margin: $space-xs;
}

.project__data {
  text-align: left;
  justify-self: start;
  max-width: 500px;
  padding: $space-xs;
  margin: $space-xs;
}

.project__title {
  font-size: var(--h2-font-size);
  padding: $space-xs;
  margin: $space-xs;
  color: var(--title-color);
  text-align: start;
}

.project__subtitle {
  font-size: var(--h3-font-size);
  padding: $space-xs;
  margin: $space-xs;
  color: var(--title-color);
  text-align: start;
}

.project__description {
  padding: $space-xs;
  margin: $space-xs;
  color: var(--text-color);
  font-size: var(--normal-font-size);
  text-align: start;
  line-height: 1.6;
}

.project__img {
  max-width: 250px;
  height: auto;
  justify-self: end;
  padding: $space-xs;
  margin: $space-xs;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
